< !DOCTYPE html><html lang="en"><head><title font-style="italic; font-size: 25px;">favourite recipe </title>
	<link rel="stylesheet"href="css/style.css"/>
	<color=blue></head><body <p style="margin:15px; border:1px solid black;background-color: coral;"
style="text-align: center;"><h1 style="color: blue;">The recipe is of PIZZA </h1><h2 style="color:skyblue;">The best pizza recipe ever created by John torode at goodfood website </h2><h3 style="color: green; font-size:22px;">ingredients: fresh yeast,
sugar,
flour,
olive oil,
mozzarella,
basil,
tomato sauce,
vegetables </h3><h4 style="color:green; font-size:18px; font-style:italic;">Steps </h4>Mix the yeast and sugar with water and mix. Place the flour in mixer and mix it to make base. when the base is ready,
apply tomato sauce to it. After that put cheese on it,
and then add the toppings like vegatables you desire. then cook for 10-15 minutes depending on the temperature. <p>I choose pizza recipe because it is my favourite. I like pizza so much. this is the only thing i love to eat. I can have piza anytime for even all of the time. I made it at home sometimes or i buy it. I like to try different Pizza's.
</p><a href="https://www.bbcgoodfood.com/recipes/pizza">BBC good food</a></body></html>

